app.host=localhost
app.port=7999
app.debug=True
kite.ui.base_url=https://kite.zerodha.com
kite.ui.client_id=KW3437
kite.ui.enctoken=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
portfolio.file=portfolio.csv
trade_day=TUESDAY

stock_universe_index=NIFTY 500
num_historical_lookup_days=365
top_n_percent=5
num_days=90
threshold=0.0025
ticker_ema_span=100
risk_factor=0.003
max_gap_percent=19.1
atr_period=20
index_ema_span=200
default_historical_lookup_days=365
cookie_file_path_pattern=/Users/adityazagade/Downloads/cookie_*.txt

# Unused properties
kite.ui.cookies.session=udpjGvr3mQnbVHUD2gHFpavt9UGAZyQz
kite.ui.csrf_token=
kite.ui.public_token=51tlPZthlxnb3F0DNH7fH7hU5ftFCt32
database.host=localhost
database.port=5432
database.name=momentum
database.username=postgres
database.password=Admin@123
kite.api_key=xxxxxxxxxxxxx
kite.api_secret=xxxxxxxxxxxxx
kite.request_token=xxxxxxxxxxxxx
kite.access_token=xxxxxxxxxxxxx
kite.public_token=xxxxxxxxxxxxx